

.grid-container .main .hero {
    position: relative;
    width: 100%;
    background-image: linear-gradient(145deg, rgb(4, 40, 139), purple);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.grid-container .main .hero::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 35, 72, 0.4);
}

.grid-container .main .hero .hero-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    z-index: 2;
}

.grid-container .main .hero .hero-content .main-title {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
}

.grid-container .main .hero .hero-content .description {
    color: #f1f1f1;
    padding: 25px;
    max-width: 700px;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
}

.main .about {
    color: rgb(39, 38, 38);
    background-color: white;
    margin: 10px;
    padding: 10px;
}

.about .about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.about .about-content .left {
    width: 400px;
}

.about .about-content img {
    width: 380px;
    margin: 20px;
}

.srs__container {
    margin-bottom: 3rem;
    
}

.srs__container-item__data {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
}

.srs__container-item__data .item__image {
    width: 380px;
    border-radius: 10px;
    transition: all .4s ease;
}

.srs__container-item__data:hover .item__image{
    transform: scale(1.1);
}

.srs__container-item__data p {
    padding-top: 2rem;
}