

.grid-container .main .hero {
    position: relative;
    width: 100%;
    min-height: 600px;
    background: url("../../assets/images/img4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.grid-container .main .hero::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 35, 72, 0.4);
}

.grid-container .main .hero .hero-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    z-index: 2;
}

.grid-container .main .hero .hero-content .main-title {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
}

.grid-container .main .hero .hero-content .description {
    color: #f1f1f1;
    padding: 25px;
    max-width: 700px;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
}

.grid-container .main .news-latter {
    display: block;
    position: relative;
    left: 50%;
    width: 900px;
    height: 250px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -50%);
}

.grid-container .main .news-latter .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid-container .main .news-latter .content .left {
    width: 50px;
    height: 250px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgba(137, 150, 173, 0.3);
}

.grid-container .main .news-latter .content .left span {
    position: absolute;
    top: 50%;
    display: block;
    color: rgb(255, 124, 30);
    width: 200px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    transform: rotate(-90deg) translate(30px, -75px);
    
}